.carousel-container {
    display: flex;
    justify-content: center; // Centre le carrousel
    margin: 20px auto; // Marges auto pour centrer
    
    .carousel {
        width: 50%; // Largeur de 50% du conteneur parent
        max-width: 720px; // Ne pas dépasser 720px
        
        .slide {
            display: flex;
            flex-direction: column; // Pour empiler l'image et la description
            justify-content: center; // Centre verticalement
            align-items: center; // Centre horizontalement
            
            img {
                width: 100%; // Remplir la largeur
                height: auto; // Maintenir les proportions
                border-radius: 10px; // Coins arrondis
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); // Ombre portée
            }

            .carousel-description {
                margin-top: 10px; // Espace au-dessus de la description
                font-size: 1rem; // Taille de la police
                color: #333; // Couleur du texte
                text-align: center; // Centrer le texte
                padding: 0 10px; // Un peu de padding pour le confort visuel
            }
        }

        .control-arrow {
            background-color: rgba(255, 255, 255, 0.8); // Fond semi-transparent pour les flèches
            padding: 10px; // Espace autour de l'icône
            
            &:hover {
                background-color: rgb(248, 0, 0); // Couleur au survol
            }
        }
    }
}
