.skills {
    text-align: center;
    margin: 40px 0;

    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .skills-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;

        .skill-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 60px; /* Ajustez la taille selon vos préférences */
                height: 60px; /* Assurez-vous que toutes les icônes ont la même hauteur */
                margin-bottom: 10px;
            }
            h3 {
                font-size: 20px;
                color: black; /* Changez cette couleur si nécessaire */
                margin: 0; /* Pour éviter un espacement supplémentaire */
            }
        }
    }
}
